.header {
  font-family: Roboto, sans-serif;
  color: red;
  font-weight: 800;
}

.body {
  color: black;
  padding-top: 20px;
}

@media (max-width: 400px) {
  .header {
    font-size: x-large;
    font-weight: 700;
  }
}

@media (min-width: 975px) {
  .body {
    font-size: 2rem;
    letter-spacing: 2px;
  }
}
