.homePageContainer {
  padding: 3rem;
}

.homePageHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePageHeader h1 {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(235, 89%, 63%);
}

.homePageContent {
  font-size: 1.5rem;
  line-height: 3.5rem;
  font-weight: 500;
}

.homePageContent p {
  padding: 1.5rem;
  margin-top: 2rem;
}
