:root {
  --display: #404040;
  --digits: #f8f0e3;
  --operators: #ff8b28;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: #fff;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0);
  display: grid;
}

.display {
  padding: 1rem;
  background-color: var(--display);
  color: #fff;
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.display span {
  font-size: 2rem;
  font-weight: 700;
}

button {
  outline: none;
  border: 1px solid #fff;
  appearance: none;
  cursor: pointer;
  color: black;
  font-weight: 700;
  font-size: 2rem;
}

.main-keys {
  background-color: var(--digits);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.operator-keys {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 6;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.operator-keys button {
  background-color: var(--operators);
}

.digit-keys {
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.digit-keys button {
  background-color: var(--digits);
}

.special-digits {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-start: 1;
  grid-column-end: 4;
}
